.nav {
  background-color: lightblue;
  padding: 0.8em;
}

.style {
  li {
    background: lightblue;
  }
}

.top-bar-right input {
  line-height: inherit;
}

.top-bar-right label {
  float: left;
}

.top-bar-right button {
  background: #2199e8;
  color: white;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
}
