@import "base/variables";

//foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//Components

@import "components/main";
@import "components/getweather";
@import "components/about";
@import "components/examples";
